<ul class="nav nav-pills">
                            <li class="active nav-item"><a class="nav-link" href="/">weather</a></li>
                            <li class = "nav-item"><a class="nav-link" href="/about">about</a></li>
                            <li class = "nav-item"><a class="nav-link" href="/contact">contact</a></li> 
</ul>